{% extends "layout.html" %}

{% block content %}

<h1>
	Dashboard page
</h1>

{% if session.user_id %}
<p>
	<span>you are logged in</span>
</p>
{% else %}
<p>
	<a href="{{ url_for('login') }}">login first</a>
</p>
{% endif %}

<script type="text/javascript" charset="utf-8">
	let browser_log_hash = sessionStorage.getItem("log_hash");
	console.log(browser_log_hash)
	$.post(
		"http://127.0.0.1:5000/auth",
		{ "browser_log_hash" : browser_log_hash },
		function(result) {
			if (result.status) {
				window.location.replace("http://localhost:5000/dash");
			}
		}
	);
</script>


{% endblock content %}
